# Be sure to use `systemctl edit telegram-fhome-bot` to modify this service with an
# override.conf because direct changes will be overwritten by package updates.

[Unit]
Description=Telegram bot that provides access to F&Home smart home system
Documentation=https://github.com/bartekpacia/telegram-fhome-bot
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=telegram-fhome-bot
Group=telegram-fhome-bot
ExecStart=/usr/bin/telegram-fhome-bot
EnvironmentFile=-/etc/telegram-fhome-bot/config
WorkingDirectory=/var/lib/telegram-fhome-bot
RuntimeDirectory=telegram-fhome-bot
StateDirectory=telegram-fhome-bot
LogsDirectory=telegram-fhome-bot

Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
