[Unit]
Description=Telegram bot that provides access to F&Home smart home system
After=network-online.target
Wants=network-online.target
#StartLimitIntervalSec=60
#StartLimitBurst=3

[Service]
Type=simple
ExecStart=%h/telegram-fhome-bot/telegram-fhome-bot
EnvironmentFile=%h/telegram-fhome-bot/.env
Restart=on-failure
RestartSec=10s

#[Install]
#WantedBy=multi-user.target
